#micro {
	width: 200px;
}
#micro .speaker {
	display: none;
}
#micro.recording{
	display: none;
}
#micro.recording .speaker {
	display: inline-block;
}
#log {
	padding-top: 10px;
}
.chat {
	padding-bottom: 200px;
}
.error {
	color: red;
}
.li-send {
	background-color: #009966;
	width: 650px;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	position: relative;
	list-style: none;
}
.li-send:before {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: -20px;
	width: 0;
	height: 0;
	border: 10px solid #009966;
	border-color: transparent #009966 transparent transparent;
}
.li-reply {
	background-color: #3399cc;
	text-align: right;
	width :650px;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	position: relative;
	list-style: none;
}
.li-reply:after {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	right: -20px;
	width: 0;
	height: 0;
	border: 10px solid #3399cc;
	border-color: transparent transparent transparent #3399cc;
}
.li-send a, .li-reply a {
	color: #fff;
}